html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
    link(href='/stylesheets/style.css' rel='stylesheet')
    script(src='/stylesheets/script.js')
    title RMS
  body#incident
    #header
      button.openbtn(onclick='openNav()') &#9776;
      h1 Records Management System
    #mySidebar.sidebar
      a.closebtn(href='javascript:void(0)' onclick='closeNav()') &times;
      a(href='/catalog') Home
      a(href='/catalog/incidents') All incidents
      a(href='/catalog/persons') All persons
      a(href='/catalog/vehicles') All vehicles
    form#main.row.g-3(method='POST' action='')
      center
        h1 Incident Report
      .row
        .col
          label.form-label(for='ir') IR #
          input#ir.form-control(type='text' placeholder='Ex: 12753')
        .col
          label.form-label(for='incident_type') Incident Type
          input#incident_type.form-control(type='text' placeholder='')
      .row
        .col
          label.form-label(for='occurrence_date') Occurrence Date
          .row.g-3
            .col-sm-7
              select#occurrence_date.form-select(aria-label='Default select example')
                option(selected) Month
                option(value='1') January
                option(value='2') February
                option(value='3') March
                option(value='4') April
                option(value='5') May
                option(value='6') June
                option(value='7') July
                option(value='8') August
                option(value='9') September
                option(value='10') October
                option(value='11') November
                option(value='12') December
            .col-sm
              select#occurrence_date.form-select(aria-label='Default select example')
                option(selected) Day
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
                option(value='5') 5
                option(value='6') 6
                option(value='7') 7
                option(value='8') 8
                option(value='9') 9
                option(value='10') 10
                option(value='11') 11
                option(value='12') 12
                option(value='13') 13
                option(value='14') 14
                option(value='15') 15
                option(value='16') 16
                option(value='17') 17
                option(value='18') 18
                option(value='19') 19
                option(value='20') 20
                option(value='21') 21
                option(value='22') 22
                option(value='23') 23
                option(value='24') 24
                option(value='25') 25
                option(value='26') 26
                option(value='27') 27
                option(value='28') 28
                option(value='29') 29
                option(value='30') 30
                option(value='31') 31
                option(value='32') 32
            .col-sm
              input#occurrence_date.form-control(type='text' placeholder='Year' aria-label='Year')
        .col
          label.form-label(for='occurrence_time') Occurrence Time
          input#occurrence_time.form-control(type='text' placeholder='' aria-label='Occurrence Time')
      .row
        .col
          label.form-label(for='location_address') Location Address
          .row.g-3
            .col-sm-7
              input#location_address.form-control(type='text' placeholder='City' aria-label='City')
            .col-sm
              select#location_address.form-select(aria-label='Default select example')
                option(selected) State
                option(value='AL') Alabama
                option(value='AK') Alaska
                option(value='AZ') Arizona
                option(value='AR') Arkansas
                option(value='CA') California
                option(value='CO') Colorado
                option(value='CT') Connecticut
                option(value='DE') Delaware
                option(value='FL') Florida
                option(value='GA') Georgia
                option(value='ID') Idaho
                option(value='HI') Hawaii
                option(value='IL') Illinois
                option(value='IN') Indiana
                option(value='IA') Iowa
                option(value='KS') Kansas
                option(value='KY') Kentucky
                option(value='LA') Louisiana
                option(value='ME') Maine
                option(value='MD') Maryland
                option(value='MA') Massachusetts
                option(value='MI') Michigan
                option(value='MN') Minnesota
                option(value='MS') Mississippi
                option(value='MO') Missouri
                option(value='MT') Montana
                option(value='NE') Nebraska
                option(value='NV') Nevada
                option(value='NH') New Hampshire
                option(value='NJ') New Jersey
                option(value='NM') New Mexico
                option(value='NY') New York
                option(value='NC') North Carolina
                option(value='ND') North Dakota
                option(value='OH') Ohio
                option(value='OK') Oklahoma
                option(value='OR') Oregon
                option(value='PA') Pennsylvania
                option(value='RI') Rhode Island
                option(value='SC') South Carolina
                option(value='SD') South Dakota
                option(value='TN') Tennessee
                option(value='TX') Texas
                option(value='UT') Utah
                option(value='VY') Vermont
                option(value='VA') Virginia
                option(value='WA') Washington
                option(value='WV') West Virginia
                option(value='WI') Wisconsin
                option(value='WY') Wyoming
            .col-sm
              input#location_address.form-control(type='text' placeholder='Zip' aria-label='Zip')
        .col
          label.form-label(for='location_name') Location Name
          input#location_name.form-control(type='text' placeholder='' aria-label='Location Name')
      .row
        label.form-label(for='narrative') Narrative
        textarea#narrative(name='narrative')
      #report
        .row
          .col
            label.form-label(for='officer_name') Officer Name
            input#officer_name.form-control(type='text' placeholder='' aria-label='Officer Name')
            label.form-label(for='officer_num') Officer Serial Number
            input#officer_num.form-control(type='text' placeholder='' aria-label='Officer Serial Number')
          .col
            label.form-label(for='report_date') Report Date
            .row.g-3
              .col-sm-7
                select#report_date.form-select(aria-label='Default select example')
                  option(selected) Month
                  option(value='1') January
                  option(value='2') February
                  option(value='3') March
                  option(value='4') April
                  option(value='5') May
                  option(value='6') June
                  option(value='7') July
                  option(value='8') August
                  option(value='9') September
                  option(value='10') October
                  option(value='11') November
                  option(value='12') December
              .col-sm
                select#report_date.form-select(aria-label='Default select example')
                  option(selected) Day
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
                  option(value='4') 4
                  option(value='5') 5
                  option(value='6') 6
                  option(value='7') 7
                  option(value='8') 8
                  option(value='9') 9
                  option(value='10') 10
                  option(value='11') 11
                  option(value='12') 12
                  option(value='13') 13
                  option(value='14') 14
                  option(value='15') 15
                  option(value='16') 16
                  option(value='17') 17
                  option(value='18') 18
                  option(value='19') 19
                  option(value='20') 20
                  option(value='21') 21
                  option(value='22') 22
                  option(value='23') 23
                  option(value='24') 24
                  option(value='25') 25
                  option(value='26') 26
                  option(value='27') 27
                  option(value='28') 28
                  option(value='29') 29
                  option(value='30') 30
                  option(value='31') 31
                  option(value='32') 32
              .col-sm
                input#report_date.form-control(type='text' placeholder='Year' aria-label='Year')
            div
              label.form-label(for='report_time') Report Time
              input#report_time.form-control(type='text' placeholder='' aria-label='Report Time')
      #submit
        button(type='submit' width='10px') Submit
