extends layout

block content
   #main
      h2 Incident List
      .card-body
        ul
  each incident in incident_list
    li 
      a(href=incident.url) #{incident.name} 
      | (#{incident.lifespan})

  else
    li There are no incidents.