#main a{
  text-decoration: none;
  color: black;
  font-size: 30px;
  display: block;
}
#main a:hover{
  color: navy;
  font-size: 35px;
  margin-right: -5%;
  transition: .5s;
}

#main .card-body{
  padding-top: 6%;
  padding-left: 0%;
}
#header{
  background-color: #111;
  color: goldenrod;
  height: 120px;
  padding-top: 2%;
}
button{
  text-align: center;
  float: left;
  margin-left: 25%;
  margin-right: 5%;
}
#main{
  transition: 1s; /* transition effect */
  padding: 2%;
}
#main p{
  font-size: larger;
  float: right;
  margin-right: 50%;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 1s; 
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: .3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: navy;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:navy;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


/*Vehicle form */
body#vehicle form, body#person form, body#incident form{
  width: 80%;
  margin-left: 10%;
  border: 2px solid black;
}
div#content div{
  padding-top: 2%;
}
div#related{
  border-top: 2px solid black;
  list-style-type: none;
}
div#related a{
  color: black;
  margin-right: none;
  transition: none;
  font-size: 1rem;
  font-weight: 400;
}
div#related a:hover{
  color: black;
  font-size: 1rem;
  margin-right: none;
  transition: none;
  cursor: pointer;
}
div#report{
  border-top: 2px solid black;
  padding-top: 2%;
  font-size: 1rem;
  font-weight: 400;
}
#submit button{
  border-top: 2px solid black;
  margin-left: 47%;
  background-color: white;
}
#submit{
  padding-top: 2%;
  font-size: 1rem;
  font-weight: 400;
}
.narrative{
  width: 100%;
}